<section class="page">

  <div class="header">
    <div class="header__left">
      <h1>Usuarios</h1>

    </div>

    <div class="header__center">
      <input class="input input--search" type="text" [(ngModel)]="search" (input)="applyFilter()"
        placeholder="Buscar por nombre o email..." />
    </div>

    <div class="header__right">
      <div class="filters">
        <label class="radio">
          Orden
          <input type="radio" name="order" [(ngModel)]="orderMode" value="default" (change)="applyFilter()">
          Por defecto
        </label>

        <label class="radio">
          <input type="radio" name="order" [(ngModel)]="orderMode" value="created_at_asc" (change)="applyFilter()">
          Fecha de alta ↑
        </label>

        <label class="radio">
          <input type="radio" name="order" [(ngModel)]="orderMode" value="created_at_des" (change)="applyFilter()">
          Fecha de baja ↓
        </label>

        <label class="radio">
          <input type="radio" name="order" [(ngModel)]="orderMode" value="name" (change)="applyFilter()">
          Nombre
        </label>
      </div>


      <div class="filters">
        Filtro
        <label class="radio">
          <input type="radio" name="status" [(ngModel)]="roleFilter" value="user" (change)="applyFilter()" />
          Usuarios
        </label>
        <label class="radio">
          <input type="radio" name="status" [(ngModel)]="roleFilter" value="admin" (change)="applyFilter()" />
          Administradores
        </label>
        <label class="radio">
          <input type="radio" name="status" [(ngModel)]="roleFilter" value="superAdmin" (change)="applyFilter()" />
          SuperAministrador
        </label>

        <label class="radio">
          <input type="radio" name="status" [(ngModel)]="roleFilter" value="inactive" (change)="applyFilter()" />
          Dado de baja
        </label>

        <label class="radio">
          <input type="radio" name="status" [(ngModel)]="roleFilter" value="all" (change)="applyFilter()" />
          Todos
        </label>
      </div>

      <button class="btn" type="button" (click)="search=''; resetFilters()">Limpiar</button>
      <button class="btn" type="button" (click)="loadUsers()" [disabled]="loading">Recargar</button>

      <button class="btn btn--primary" type="button" (click)="toggleCreate()">
        {{ showForm ? 'Cerrar' : 'Crear un nuevo usuario' }}
      </button>
    </div>
  </div>



  <div class="alert alert--error" *ngIf="errorMsg">
    <i class="fa-solid fa-circle-info"></i>
    {{ errorMsg }}
    <button class="alert__close" type="button" (click)="errorMsg=''">×</button>
  </div>
  <div class="alert alert--ok" *ngIf="successMsg">
    <i class="fa-solid fa-circle-info"></i>
    {{ successMsg }}
    <button class="alert__close" type="button" (click)="successMsg=''">×</button>
  </div>



  <div class="card users-card" *ngIf="showForm">
    <div class="card__header">
      <h2>{{ editing ? 'Editar usuario' : 'Nuevo usuario' }}</h2>
    </div>

    <div class="form-grid">
      <div>
        <label>Nombre *</label>
        <input class="input" [(ngModel)]="first_name" name="first_name" />
      </div>

      <div>
        <label>Apellidos *</label>
        <input class="input" [(ngModel)]="last_name" name="last_name" />
      </div>

      <div>
        <label>Fecha de nacimiento</label>
        <input class="input" type="date" [(ngModel)]="birth_date" name="birth_date" />
      </div>

      <div>
        <label>Teléfono *</label>
        <input class="input" type="tel" [(ngModel)]="phone" name="phone" />
      </div>

      <div>
        <label>Email *</label>
        <input class="input" type="email" [(ngModel)]="email" name="email" />
      </div>

      <div>
        <label>imagen</label>
        <input class="input" type="text" [(ngModel)]="image" name="image" />
      </div>
      <div>
        <label>Rol</label>
        <select class="input select" [(ngModel)]="role" name="role">
          <option value="user">Usuario</option>
          <option value="admin">administrador</option>
          <option value="superAdmin" *ngIf="isSuperAdmin">Super Administrador</option>
          <option value="inactive">Inactiva</option>
        </select>
      </div>
      <div  *ngIf="!editing">
        <label>Contraseña *</label>
        <input class="input" type="password" [(ngModel)]="newPassword" name="newPassword" />
      </div>

      <button class="btn select" type="button" *ngIf="editing" (click)="togglePasswordBox()">
        {{ showPasswordBox ? 'Cancelar contraseña' : 'Nueva contraseña' }}
      </button>
      <div  *ngIf="editing && showPasswordBox">
        <label>Nueva contraseña *</label>
        <input class="input" type="password" [(ngModel)]="newPassword" name="newPassword" />
      </div>

    </div>
    <br>
    <div class="actions">
      <button class="btn" *ngIf="editing" (click)="cancelEdit()">Limpiar</button>
      <button class="btn btn--primary" (click)="submitForm()" [disabled]="loading">
        {{ editing ? 'Guardar' : 'Crear' }}
      </button>
    </div>
  </div>




  <h2>Listado</h2>

  <div class="loading" *ngIf="loading"></div>
  <div class="table-wrap">
    <table class="table" *ngIf="filtered.length && !loading; else empty">
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Edad</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th>Rol</th>
          <th>Fecha Alta</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngFor="let user of paged">
          <tr [class.inactive]="user.role === 'inactive'">
            <td>{{ user.image }}</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ calculateAge(user.birth_date)}}</td>
            <td>{{ user.email || '-' }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.created_at | date:'dd/MM/yyyy'}}</td>

            <td>
              <div class="actions" *ngIf="confirmRowId !== user.id">
                <button class="btn btn--info" (click)="showUser(user)">+Info</button>
                <button class="btn btn--edit" *ngIf="canEditUser(user)" (click)="startEdit(user)">Editar</button>

                <button class="btn" *ngIf="canSoftDeactivate(user)" (click)="openSoftConfirm(user)">
                  Dar de baja
                </button>

                <button class="btn" *ngIf="canRestore(user)" (click)="restoreUser(user)">
                  Dar de alta
                </button>

                <button class="btn btn--delete" *ngIf="canHardDelete(user)" (click)="openHardConfirm(user)">
                  Borrar definitivo
                </button>
              </div>


              <div class="actions" *ngIf="confirmRowId === user.id">
                <button class="btn" (click)="cancelConfirm()">Cancelar</button>
                <button class="btn btn--delete" (click)="confirmAction()">
                  {{ confirmButtonText }}
                </button>
              </div>
            </td>
          </tr>


          <tr *ngIf="confirmRowId === user.id" class="confirm-row">
            <td colspan="8">
              <div class="confirm-box">
                <span class="confirm-text">{{ confirmMessage }}</span>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>

    </table>
    <ng-template #empty>
      <p class="muted" *ngIf="!loading">
        <i class="fa-solid fa-circle-info"></i>
        No hay usuarios.
      </p>
    </ng-template>
  </div>



  <div class="pagination" *ngIf="totalPages >= 1">
    <button class="btn" (click)="prevPage()" [disabled]="page === 1">Anterior</button>

    <span>Página {{ page }} / {{ totalPages }}</span>

    <button class="btn" (click)="nextPage()" [disabled]="page === totalPages">Siguiente</button>

    <select class="input" [(ngModel)]="pageSize" (ngModelChange)="changePageSize($event)">
      <option [ngValue]="5">5</option>
      <option [ngValue]="10">10</option>
      <option [ngValue]="20">20</option>
      <option [ngValue]="50">50</option>
    </select>

  </div>





  <div class="card users-card" *ngIf="selectedUser">
    <div class="card__header">
      <h2>Detalle de cliente</h2>
      <button class="btn" (click)="closeInfo()">Cerrar</button>
    </div>

    <div class="detail-grid">
      <div><b>Nombre:</b> {{ selectedUser.first_name }} {{ selectedUser.last_name }}</div>
      <div><b>Edad:</b> {{ calculateAge(selectedUser.birth_date) }}</div>
      <div><b>Email:</b> {{ selectedUser.email }}</div>
      <div><b>Teléfono:</b> {{ selectedUser.phone }}</div>
      <div><b>Rol:</b> {{ selectedUser.role }}</div>
      <div><b>Creado:</b> {{ selectedUser.created_at | date:'dd/MM/yyyy' }}</div>
    </div>
  </div>

</section>